# Configuración del Proxy
PROXY_SERVER=http://gw.dataimpulse.com:823
PROXY_USERNAME=tu_usuario_aqui
PROXY_PASSWORD=tu_password_aqui

# Geolocalización (El Salvador por defecto)
GEO_LATITUDE=13.75
GEO_LONGITUDE=-89.2099
TIMEZONE=America/El_Salvador
LOCALE=es-SV
